bs4==0.0.2
chardet==4.0.0
exceptiongroup==1.2.0
faiss-cpu==1.8.0
importlib-metadata==7.1.0
install==1.3.5
ipykernel==6.29.3
langchain==0.1.17
langchain-groq==0.1.3
langchainhub==0.1.15
pickleshare==0.7.5
pip-chill==1.0.3
sentence-transformers==2.7.0
streamlit==1.34.0
torchaudio==2.3.0
torchvision==0.18.0